# secrets / local
.env
.env.*
!.env.example
admin/secure/oauth_config.local.php

# ignore uploads tapi kekalkan .htaccess
admin/uploads/*
!admin/uploads/.htaccess

# ignore data tapi kekalkan course.js (kalau memang perlu)
data/*
!data/course.js

# dependencies / junk
/vendor/
node_modules/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
